{% extends "base.html" %}

{% block title %}Contacts{% endblock title %}Home

{% block body %}
<div class="container">
    <img src="/static/img/13.jpg" class="d-block w-100 " alt="...">
</div>

<div class="container">
    
    <h1 class="text-center">Contact us</h1>

    
    <form method="post" action="/contacts">
        {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email"name="email" placeholder="Enter Your Email id">
        </div>
        
        <div class="mb-3">
          <label for="phone" class="form-label">Phone Number</label>
          <input type="text" class="form-control" id="phone" name="phone"  placeholder="Enter Your Phone number">
        </div>
        
        <div class="mb-3">
          <label for="desc" class="form-label">Tell me what do want to contact me for</label>
          <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
        </div>



        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

{% endblock body %}
